body {
  margin: 0;
  background-color: #BDC4A7;
}
.appbar {
  display: flex;
  justify-content: flex-end;
}
.home{
  margin: auto;
  text-align: center;
  border-radius: 4px;
  border: 2px solid;
  width: max-content;
  padding: 20px;
}