body {
  margin: 0;
  background-color: #BDC4A7;
}
.appbar {
  display: flex;
  justify-content: flex-end;
}
.home{
  margin: auto;
  text-align: center;
  border-radius: 4px;
  border: 2px solid;
  margin-top: 10px;
  padding: 20px;
}
.paginationBtns {
  display: flex;
  list-style: none;
  justify-content: center;
}
.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}
.paginationBtns a:hover {
  background-color: blue;
}
.paginationActive a {
  background-color: blue;
}
.imageList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 700px) {
  .paginationBtns {
    width: 50px;
    margin: auto;
  }
}